<div class="container">
  <div class="row">
    <div class="col-7">
      <h4>News</h4>
      <table class="table">
      <% @blogs.each do |blog| %>
        <tr>
          <td><%= attachment_image_tag blog, :blog_image, :fill, 60, 60, fallback: "/no_image.jpg" %></td>
          <td><%= link_to blog.title, blog_path(blog) %></td>
          <td><%= blog.body %></td>
        </tr>
      <% end %>
      </table>
    </div>
    <div class="col-4">
      <iframe width="280" height="157" src="https://www.youtube.com/embed/Jmx6qzcAs5U" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-11">
      <h4>Members</h4>
      <%= link_to "ぼくやすメンバーについてもっと知る", members_path, class: "btn btn-secondary btn-sm" %>
    </div>
  </div>
</div>